.doc-container{
    border: solid 1px gray;
    background-color: rgb(132, 196, 157);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.doc-number{
    border: solid 1px black;
    background-color: rgb(3, 151, 27);
}
ion-row{
    width: 100%;
}

.redColor{
    color: rgb(236, 55, 55);
}