<ion-header>
  <ion-toolbar>
    <ion-title>Configuration</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="insertTuteur()">
    Inserer un tuteur
  </ion-button>
  <ion-button (click)="getPersonnes()">
    ListeTuteurs
  </ion-button>
  <ion-button (click)="insertEleve()">
   InsererELeve
  </ion-button>
  <ion-button (click)="insertProfesseur()">
    InsererProf
  </ion-button>
  <ion-button (click)="loadData()">
    Load data
  </ion-button>
  <ion-button (click)="insertCours()">
   insertCours
  </ion-button>
  <ion-button (click)="insertNote()">
   insertNotes
  </ion-button>
  <ion-button (click)="getNote()">
    getNOtes
  </ion-button>
  <ion-button (click)="insertIntoDoc()">
    InsertDossierFin
  </ion-button>
  <ion-button (click)="insertForum()">
    insertForums
  </ion-button>
  <ion-button (click)="insertSujet()">
   insertSujets
  </ion-button>
</ion-content>  