<ion-header color="primary" class="primary">
  <ion-toolbar class="primary">
    <ion-title>
      Gitech Edu
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content fullscreen padding scroll-y="false">
    <ion-slides pager='ios' class="ion-padding">
  
      <ion-slide>
        <img src="assets/img/note.png"/>
        <div class="text-container">
          <h2>Consuler les <b>notes</b></h2>
        <p>L'application <b>GitechMobile</b> vous permet de consulter votes plus facilement</p>
        </div>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/planning.png"/>
        <h2>Visualiser les emplois du temps</h2>
        <p><b>GitechMobile</b> Vous permet aussi de consulter votre emploi du temps</p>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/finance.png"/>
        <h2>Dossier financier</h2>
        <p>Avec <b>GitechMobile</b> vérifier l'état de votre dossier financier</p>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/logo-gitech.png"/>
        <h2>Prêt pour surfer sur les nuages du net ?</h2>
        <ion-button routerLink="../login" fill="clear">Continue <ion-icon slot="bottom" name="login"></ion-icon></ion-button>
      </ion-slide>
  
    </ion-slides>
  </ion-content>
</body>
