
ion-grid{
   width: 100%;
   border: 1px solid gray;
}
th, td{
   border: 1px solid gray;
}

ion-row, ion-col{
   background-color: rgb(227, 229, 255);
   color: rgb(0, 0, 0);
   width: 100%;
}
.cours-title{
   background-color:  rgb(0, 93, 105);
}
